# kaggle home-credit-default-risk

## Project plan

### 1) Here wo go
* Information about competition
* All datasets downloaded with kaggle cli
    ```
    source activate <env>
    pip install kaggle
    kaggle competitions download -c home-credit-default-risk
    ```
* Read datasets with pandas
* Decide on goal (AUC?)

### 2) Build flow/pipeline (Iteration 1 - Application data)
* Data analysis
* Feature engineering
* Modelling
    1. Decision trees?
    2. Logistic regression?
    3. Deep network?
* Validation
* Model v1.0

### 3) Iterate
Iterate and compare with v1.0

### 4) Final modelling
Decide on strategy and model

### 5) Conclusions
Conclusions and thoughts

# Import datasets

In [10]:
import pandas as pd
import numpy as np
import featuretools as ft

path_data = '~/.kaggle/competitions/home-credit-default-risk'

description = pd.read_csv(path_data + '/HomeCredit_columns_description.csv', encoding='latin1') # encoding error...
bureau_balance = pd.read_csv(path_data + '/bureau_balance.csv.zip', compression='zip')
POS_CASH_balance = pd.read_csv(path_data + '/POS_CASH_balance.csv.zip', compression='zip')
credit_card_balance = pd.read_csv(path_data + '/credit_card_balance.csv.zip', compression='zip')
application_test = pd.read_csv(path_data + '/application_test.csv.zip', compression='zip')
installments_payments = pd.read_csv(path_data + '/installments_payments.csv.zip', compression='zip')
application_train = pd.read_csv(path_data + '/application_train.csv.zip', compression='zip')
previous_application = pd.read_csv(path_data + '/previous_application.csv.zip', compression='zip')
bureau = pd.read_csv(path_data + '/bureau.csv.zip', compression='zip')
sample_submission = pd.read_csv(path_data + '/sample_submission.csv.zip', compression='zip')

today = pd.to_datetime('2018-06-11')
previous_application['DAYS_DECISION'] = today + pd.to_timedelta(previous_application['DAYS_DECISION'], unit='d')

In [2]:
# fix new id 
#bureau_balance = bureau_balance.reset_index()
#bureau_balance = bureau_balance.rename(columns={'index': 'SK_ID_BUREAU_BALANCE'})

POS_CASH_balance = POS_CASH_balance.reset_index()
POS_CASH_balance = POS_CASH_balance.rename(columns={'index': 'SK_ID_POS_CASH_BALANCE'})

credit_card_balance = credit_card_balance.reset_index()
credit_card_balance = credit_card_balance.rename(columns={'index': 'SK_ID_CREDIT_CARD_BALANCE'})

installments_payments = installments_payments.reset_index()
installments_payments = installments_payments.rename(columns={'index': 'SK_ID_INSTALLMENTS_PAYMENTS'})

In [3]:
print('sample_submission:')
print(sample_submission.head())

sample_submission:
   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5
2      100013     0.5
3      100028     0.5
4      100038     0.5

Submission must contain key and target (probability)

In [11]:
print('application_train:')
print(application_train.head())
#print('application_test:')
#print(application_test.head())

print('previous_application:')
print(previous_application.head())

print('bureau:')
print(bureau.head())

print('bureau_balance:')
print(bureau_balance.head(n=100))

print('POS_CASH_balance:')
print(POS_CASH_balance.head())

print('credit_card_balance:')
print(credit_card_balance.head())

print('installments_payments:')
print(installments_payments.head())

application_train:
   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0
3             ...                             0                0
4             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0
3                0                0                        NaN
4                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       NaN                         NaN
4                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0
3                         NaN
4                         0.0

[5 rows x 122 columns]
previous_application:
   SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  AMT_APPLICATION  \
0     2030495      271877     Consumer loans     1730.430          17145.0
1     2802425      108129         Cash loans    25188.615         607500.0
2     2523466      122040         Cash loans    15060.735         112500.0
3     2819243      176158         Cash loans    47041.335         450000.0
4     1784265      202054         Cash loans    31924.395         337500.0

   AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE WEEKDAY_APPR_PROCESS_START  \
0     17145.0               0.0          17145.0                   SATURDAY
1    679671.0               NaN         607500.0                   THURSDAY
2    136444.5               NaN         112500.0                    TUESDAY
3    470790.0               NaN         450000.0                     MONDAY
4    404055.0               NaN         337500.0                   THURSDAY

   HOUR_APPR_PROCESS_START            ...            NAME_SELLER_INDUSTRY  \
0                       15            ...                    Connectivity
1                       11            ...                             XNA
2                       11            ...                             XNA
3                        7            ...                             XNA
4                        9            ...                             XNA

   CNT_PAYMENT  NAME_YIELD_GROUP       PRODUCT_COMBINATION  \
0         12.0            middle  POS mobile with interest
1         36.0        low_action          Cash X-Sell: low
2         12.0              high         Cash X-Sell: high
3         12.0            middle       Cash X-Sell: middle
4         24.0              high         Cash Street: high

   DAYS_FIRST_DRAWING DAYS_FIRST_DUE DAYS_LAST_DUE_1ST_VERSION DAYS_LAST_DUE  \
0            365243.0          -42.0                     300.0         -42.0
1            365243.0         -134.0                     916.0      365243.0
2            365243.0         -271.0                      59.0      365243.0
3            365243.0         -482.0                    -152.0        -182.0
4                 NaN            NaN                       NaN           NaN

  DAYS_TERMINATION NFLAG_INSURED_ON_APPROVAL
0            -37.0                       0.0
1         365243.0                       1.0
2         365243.0                       1.0
3           -177.0                       1.0
4              NaN                       NaN

[5 rows x 37 columns]
bureau:
   SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
0      215354       5714462        Closed      currency 1         -497
1      215354       5714463        Active      currency 1         -208
2      215354       5714464        Active      currency 1         -203
3      215354       5714465        Active      currency 1         -203
4      215354       5714466        Active      currency 1         -629

   CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
0                   0               -153.0             -153.0
1                   0               1075.0                NaN
2                   0                528.0                NaN
3                   0                  NaN                NaN
4                   0               1197.0                NaN

   AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
0                     NaN                   0         91323.0
1                     NaN                   0        225000.0
2                     NaN                   0        464323.5
3                     NaN                   0         90000.0
4                 77674.5                   0       2700000.0

   AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
0                  0.0                   NaN                     0.0
1             171342.0                   NaN                     0.0
2                  NaN                   NaN                     0.0
3                  NaN                   NaN                     0.0
4                  NaN                   NaN                     0.0

       CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0  Consumer credit                -131          NaN
1      Credit card                 -20          NaN
2  Consumer credit                 -16          NaN
3      Credit card                 -16          NaN
4  Consumer credit                 -21          NaN
bureau_balance:
    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0
15       5715448             -15      0
16       5715448             -16      0
17       5715448             -17      0
18       5715448             -18      0
19       5715448             -19      0
20       5715448             -20      X
21       5715448             -21      X
22       5715448             -22      X
23       5715448             -23      X
24       5715448             -24      X
25       5715448             -25      X
26       5715448             -26      X
27       5715449               0      C
28       5715449              -1      C
29       5715449              -2      C
..           ...             ...    ...
70       5715452              -5      C
71       5715452              -6      C
72       5715452              -7      C
73       5715452              -8      C
74       5715452              -9      C
75       5715452             -10      C
76       5715452             -11      C
77       5715452             -12      C
78       5715452             -13      C
79       5715452             -14      C
80       5715452             -15      0
81       5715452             -16      0
82       5715452             -17      X
83       5715452             -18      X
84       5715452             -19      X
85       5715452             -20      0
86       5715452             -21      0
87       5715452             -22      0
88       5715452             -23      0
89       5715452             -24      0
90       5715452             -25      0
91       5715452             -26      X
92       5715452             -27      X
93       5715452             -28      X
94       5715452             -29      X
95       5715452             -30      X
96       5715452             -31      X
97       5715452             -32      X
98       5715453               0      C
99       5715453              -1      C

[100 rows x 3 columns]
POS_CASH_balance:
   SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  CNT_INSTALMENT  \
0     1803195      182943             -31            48.0
1     1715348      367990             -33            36.0
2     1784872      397406             -32            12.0
3     1903291      269225             -35            48.0
4     2341044      334279             -35            36.0

   CNT_INSTALMENT_FUTURE NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
0                   45.0               Active       0           0
1                   35.0               Active       0           0
2                    9.0               Active       0           0
3                   42.0               Active       0           0
4                   35.0               Active       0           0
credit_card_balance:
   SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  AMT_BALANCE  \
0     2562384      378907              -6       56.970
1     2582071      363914              -1    63975.555
2     1740877      371185              -7    31815.225
3     1389973      337855              -4   236572.110
4     1891521      126868              -1   453919.455

   AMT_CREDIT_LIMIT_ACTUAL  AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  \
0                   135000                       0.0                 877.5
1                    45000                    2250.0                2250.0
2                   450000                       0.0                   0.0
3                   225000                    2250.0                2250.0
4                   450000                       0.0               11547.0

   AMT_DRAWINGS_OTHER_CURRENT  AMT_DRAWINGS_POS_CURRENT  \
0                         0.0                     877.5
1                         0.0                       0.0
2                         0.0                       0.0
3                         0.0                       0.0
4                         0.0                   11547.0

   AMT_INST_MIN_REGULARITY     ...      AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE  \
0                 1700.325     ...              0.000                 0.000
1                 2250.000     ...          64875.555             64875.555
2                 2250.000     ...          31460.085             31460.085
3                11795.760     ...         233048.970            233048.970
4                22924.890     ...         453919.455            453919.455

   CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  \
0                       0.0                     1                         0.0
1                       1.0                     1                         0.0
2                       0.0                     0                         0.0
3                       1.0                     1                         0.0
4                       0.0                     1                         0.0

   CNT_DRAWINGS_POS_CURRENT  CNT_INSTALMENT_MATURE_CUM  NAME_CONTRACT_STATUS  \
0                       1.0                       35.0                Active
1                       0.0                       69.0                Active
2                       0.0                       30.0                Active
3                       0.0                       10.0                Active
4                       1.0                      101.0                Active

   SK_DPD  SK_DPD_DEF
0       0           0
1       0           0
2       0           0
3       0           0
4       0           0

[5 rows x 23 columns]
installments_payments:
   SK_ID_PREV  SK_ID_CURR  NUM_INSTALMENT_VERSION  NUM_INSTALMENT_NUMBER  \
0     1054186      161674                     1.0                      6
1     1330831      151639                     0.0                     34
2     2085231      193053                     2.0                      1
3     2452527      199697                     1.0                      3
4     2714724      167756                     1.0                      2

   DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  AMT_INSTALMENT  AMT_PAYMENT
0          -1180.0             -1187.0        6948.360     6948.360
1          -2156.0             -2156.0        1716.525     1716.525
2            -63.0               -63.0       25425.000    25425.000
3          -2418.0             -2426.0       24350.130    24350.130
4          -1383.0             -1366.0        2165.040     2160.585

In [5]:
#print('bureau_balance:')
#print(bureau_balance.describe())
#print('POS_CASH_balance:')
#print(POS_CASH_balance.describe())
#print('credit_card_balance:')
#print(credit_card_balance.describe())
#print('application_test:')
#print(application_test.describe())
#print('installments_payments:')
#print(installments_payments.describe())
#print('application_train:')
#print(application_train.describe())
#print('previous_application:')
#print(previous_application.describe())
#print('bureau:')
#print(bureau.describe())

In [13]:
es = ft.EntitySet(id="applications")

es = es.entity_from_dataframe(
    entity_id="applications",
    dataframe=application_train,
    #time_index="transaction_time",
    index="SK_ID_CURR",
    )
#es["applications"].variables

es = es.entity_from_dataframe(
    entity_id="prev_applications",
    dataframe=previous_application,
    time_index="DAYS_DECISION",
    index="SK_ID_PREV",
    )
#es["prev_applications"].variables

es = es.entity_from_dataframe(
    entity_id="bureau",
    dataframe=bureau,
    #time_index="transaction_time",
    index="SK_ID_BUREAU",
    )
#es["bureau"].variables

es = es.entity_from_dataframe(
    entity_id="bureau_balance",
    dataframe=bureau_balance,
    #time_index="transaction_time",
    index="SK_ID_BUREAU_BALANCE",
    )
#es["bureau_balance"].variables

es = es.entity_from_dataframe(
    entity_id="pos_cash_balance",
    dataframe=POS_CASH_balance,
    #time_index="transaction_time",
    index="SK_ID_POS_CASH_BALANCE",
    )
#es["pos_cash_balance"].variables

es = es.entity_from_dataframe(
    entity_id="credit_card_balance",
    dataframe=credit_card_balance,
    #time_index="transaction_time",
    index="SK_ID_CREDIT_CARD_BALANCE",
    )
#es["credit_card_balance"].variables

es = es.entity_from_dataframe(
    entity_id="installments_payments",
    dataframe=installments_payments,
    #time_index="transaction_time",
    index="SK_ID_INSTALLMENTS_PAYMENTS",
    )
#es["credit_card_balance"].variables


applications_to_prev_applications = ft.Relationship(
    es["applications"]["SK_ID_CURR"],
    es["prev_applications"]["SK_ID_CURR"]
    )

applications_to_bureau = ft.Relationship(
    es["applications"]["SK_ID_CURR"],
    es["bureau"]["SK_ID_CURR"]
    )

bureau_to_bureau_balance = ft.Relationship(
    es["bureau"]["SK_ID_BUREAU"],
    es["bureau_balance"]["SK_ID_BUREAU"]
    )

applications_to_pos_cash_balance = ft.Relationship(
    es["applications"]["SK_ID_CURR"],
    es["pos_cash_balance"]["SK_ID_CURR"]
    )

prev_applications_to_pos_cash_balance = ft.Relationship(
    es["prev_applications"]["SK_ID_PREV"],
    es["pos_cash_balance"]["SK_ID_PREV"]
    )

applications_to_credit_card_balance = ft.Relationship(
    es["applications"]["SK_ID_CURR"],
    es["credit_card_balance"]["SK_ID_CURR"]
    )

prev_applications_to_credit_card_balance = ft.Relationship(
    es["prev_applications"]["SK_ID_PREV"],
    es["credit_card_balance"]["SK_ID_PREV"]
    )

applications_to_installments_payments = ft.Relationship(
    es["applications"]["SK_ID_CURR"],
    es["installments_payments"]["SK_ID_CURR"]
    )

prev_applications_to_installments_payments = ft.Relationship(
    es["prev_applications"]["SK_ID_PREV"],
    es["installments_payments"]["SK_ID_PREV"]
    )

es = es.add_relationship(applications_to_prev_applications)
es = es.add_relationship(applications_to_bureau)
es = es.add_relationship(bureau_to_bureau_balance)
es = es.add_relationship(applications_to_pos_cash_balance)
es = es.add_relationship(prev_applications_to_pos_cash_balance)
es = es.add_relationship(applications_to_credit_card_balance)
es = es.add_relationship(prev_applications_to_credit_card_balance)
es = es.add_relationship(applications_to_installments_payments)
es = es.add_relationship(prev_applications_to_installments_payments)

2018-06-11 20:56:21,154 featuretools.entityset - WARNING    index SK_ID_BUREAU_BALANCE not found in dataframe, creating new integer column
2018-06-11 20:56:44,301 featuretools.entityset - WARNING    index SK_ID_POS_CASH_BALANCE not found in dataframe, creating new integer column
2018-06-11 20:56:50,332 featuretools.entityset - WARNING    index SK_ID_CREDIT_CARD_BALANCE not found in dataframe, creating new integer column
2018-06-11 20:56:58,653 featuretools.entityset - WARNING    index SK_ID_INSTALLMENTS_PAYMENTS not found in dataframe, creating new integer column

In [14]:
es

Entityset: applications
  Entities:
    applications [Rows: 307511, Columns: 122]
    prev_applications [Rows: 1670214, Columns: 37]
    bureau [Rows: 1716428, Columns: 17]
    bureau_balance [Rows: 27299925, Columns: 4]
    pos_cash_balance [Rows: 10001358, Columns: 9]
    credit_card_balance [Rows: 3840312, Columns: 24]
    installments_payments [Rows: 13605401, Columns: 9]
  Relationships:
    prev_applications.SK_ID_CURR -> applications.SK_ID_CURR
    bureau.SK_ID_CURR -> applications.SK_ID_CURR
    bureau_balance.SK_ID_BUREAU -> bureau.SK_ID_BUREAU
    pos_cash_balance.SK_ID_CURR -> applications.SK_ID_CURR
    pos_cash_balance.SK_ID_PREV -> prev_applications.SK_ID_PREV
    credit_card_balance.SK_ID_CURR -> applications.SK_ID_CURR
    credit_card_balance.SK_ID_PREV -> prev_applications.SK_ID_PREV
    installments_payments.SK_ID_CURR -> applications.SK_ID_CURR
    installments_payments.SK_ID_PREV -> prev_applications.SK_ID_PREV